.text-area-container {
    border: 1px solid #ccc;
    resize: both;
    overflow: auto;
    max-width: 100%;
}

.custom-card {
    max-width: 294px;
    margin: 0 auto;
    font-weight: bold;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.text-contents { 
    display: inline-block;
}

.dd-text {
    width: 70px; 
    display: inline-block;
}