 <!-- Application template container -->
 <div class="container">
   <h1>Profile Manager</h1>

   <div class="row">
     <!-- Page-top toggle buttons -->
     <div class="col-md-6">
       <button (click)="getStoreSnapshot()" class="btn btn-sm my-3 btn-secondary float-left">View Store Snapshot</button>
     </div>
     <div *ngIf="isSearchProfile" class="col-md-6">
       <button (click)="toggleSearchOrCreateProfile()" class="btn btn-sm btn-success float-right">Create A
         Profile</button>
     </div>
     <div *ngIf="!isSearchProfile" class="col-md-6">
       <button (click)="toggleSearchOrCreateProfile()" class="btn btn-sm btn-success float-right">Search For A
         Profile</button>
     </div>

   </div>
   <!-- A list of first and last names of profiles currently available in the Redux store -->
   <div *ngIf="showStoreProfiles">
      <ul>
        <li *ngFor="let item of (users$ | async)">{{ item.firstName }}  {{ item.lastName }}</li>
      </ul>
   </div>

   <!-- Start of Create-Profile component markup -->
   <div *ngIf="!isSearchProfile">
     <div class="input-row mb-3">
       <strong>
         <h4>Create A Profile</h4>
       </strong>
       <!-- Profile submission form -->
       <form (ngSubmit)="onProfileCreationFormSubmit()" #pcf="ngForm">
         <div class="form-group row">
           <!-- First Name Input -->
           <legend class="col-form-label col-sm-2 pt-0 mt-2">First Name:</legend>
           <div class="col-sm-10">
             <div class="row  my-1">
               <div class="col-sm-12">
                 <input type="text" (input)="validateFirstName(firstName)" ngModel name="firstName" class="form-control" id="firstName"
                   placeholder="First Name" #firstName="ngModel" required>
                   <span class="help-block" *ngIf="!firstName.valid && firstName.touched">This is required</span>
                   <span class="help-block" *ngIf="firstNameInValid && firstName.valid">Only Alpha numeric characters are allowed.</span>
               </div>
             </div>
           </div>

           <!-- Last Name Input -->
           <legend class="col-form-label col-sm-2 pt-0 mt-2">Last Name:</legend>
           <div class="col-sm-10">
             <div class="row  my-1">
               <div class="col-sm-12">
                  <input type="text" (input)="validateLastName(lastName)" ngModel name="lastName" class="form-control" id="lastName" 
                  placeholder="Last Name" #lastName="ngModel" required>
                  <span class="help-block" *ngIf="!lastName.valid && lastName.touched">This is required</span>
                  <span class="help-block" *ngIf="lastNameInValid && lastName.valid">Only Alpha numeric characters are allowed.</span>
              </div>
             </div>
           </div>

         </div>

         <!-- Gender Input -->
         <fieldset class="form-group">
           <div class="row">
             <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
             <div class="col-sm-10">
               <div class="form-check">
                 <input class="form-check-input" type="radio" ngModel name="gender" id="gender-male" value="male"
                   checked>
                 <label class="form-check-label" for="gender-male">
                   Male
                 </label>
               </div>
               <div class="form-check">
                 <input class="form-check-input" type="radio" ngModel name="gender" id="gender-female" value="female">
                 <label class="form-check-label" for="gender-female">
                   Female
                 </label>
               </div>
             </div>
           </div>
         </fieldset>

         <!-- Role Input -->
         <div class="form-group row">
           <legend class="col-form-label col-sm-2 pt-0 mt-2">Role:</legend>
           <div class="col-sm-10">
             <div class="row  my-1">
               <div class="col-sm-12">
                 <input type="text" (input)="validateRole(role)" ngModel name="role" class="form-control" id="role" placeholder="Enter your role" #role="ngModel" required>
                 <span class="help-block" *ngIf="!role.valid && role.touched">This is required</span>
                 <span class="help-block" *ngIf="roleInValid && role.valid">Only Alpha numeric characters are allowed.</span>
               </div>
             </div>

             <div class="form-group row my-3">
               <div class="col-md-3">
                 <button type="submit" class="btn btn-lg btn-primary" [disabled]="">Add Profile</button>
               </div>
               <div class="col-md-9">
                 <button type="reset" class="btn btn-sm btn-secondary float-right">Clear Form</button>
               </div>
             </div>
           </div>

         </div>
       </form>
       <!-- End of Profile creation form -->
     </div>

     <!-- Profile details out put in textarea element -->
     <div *ngIf="(users$ | async)?.length > 0" class="form-group row" style="border-top: solid 1px #cccccc;">
       <label for="inputEmail3" class="col-sm-2 col-form-label mt-3">Profiles Window:</label>
       <div class="col-sm-10 mt-3">
         <div class="card">
           <div style="text-align: center;" class="card-header">
             Added Profiles
           </div>
           <ul class="list-group list-group-flush">
             <li class="list-group-item" *ngFor="let profile of (users$ | async); let idx = index">
               <span class="list-td"> {{ profile.firstName }} {{ profile.lastName }}</span>
               <button (click)="toggleProfileDetails(profile)" class="btn btn-sm btn-primary mb-3 float-right">
                  <span *ngIf="profile.showDetails; else hideDetails">Hide Details</span> 
                  <ng-template #hideDetails>Show Details</ng-template> 
               </button>
               <div *ngIf="profile.showDetails">
                 <textarea name="profileDisplay" rows="3" wrap cols="33" class="form-control profile-output">
                        Profile Owner:  {{ profile.firstName }}  {{ profile.lastName }} &#10;
                        Owner's Role:  {{ profile.role }} &#13;
                        Gender:  {{ profile.gender }} &#10;
                  </textarea>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>

   </div>
   <!-- End of Profile Creation page -->


    <!-- Nested Search profile component -->
   <div *ngIf="isSearchProfile">
      <!-- search component passed as array of profiles created -->
      <app-search [passedDownProfiles]="(users$ | async)"></app-search>
   </div>

 </div>
